body {
    background-color: #1e1e1e;
    font-family: 'Manrope', sans-serif;
    color: #ffffff;

}

header {
    width: 100%;
    max-width: 1920px;
}

/* Navbar styles */
.navbar {
    max-height: 100px;
    margin: 20px 20px 20px 20px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    max-width: 500px;
    max-height: 160px;
}


.btn-container {
    display: flex;
    background-color: transparent;
    max-width: 560px;
    max-height: 80px;
}

.btn-container1 {
    gap: 16px;
}

.icon-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-links {
    max-width: 600px;
    max-height: 80px;
    background-color: #0f0f0f;
    display: flex;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 4px solid #1a1a1a;
}

.nav-link {
    color: #bfbfbf;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.nav-link.active {
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 12px;
}

.nav-link:active {
    transform: translateY(2px);
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 12px;
}

/* Active styles */
.movies:active,
.support:active,
.subs:active,
.mini-btn:active,
.btn-arrow:active,
.button-block:active,
.primary-btn:active {
    transform: translateY(2px);
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 8px;
}

/* top block */
.top-section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    /* по центру */
    width: 100%;
    height: 850px;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
}

.big-image {
    width: 98%;
    height: 80%;
    object-fit: cover;
    filter: brightness(50%);
    border: 1px solid #999999;
    border-radius: 12px;
    z-index: 0;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0.708) 65%, transparent 100%);
}

.top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    z-index: 1;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1920px;
}

.text-container h1 {
    font-size: 28px;
}

.text-container p {
    color: #999999;
    font-size: 16px;
    line-height: 1.5;
    flex-direction: row;
}

.button {
    background-color: #e50000;
    width: 200px;
    height: 64px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 12px;
    text-decoration: none;
}

.button:active {
    transform: translateY(2px);
    text-decoration: none;
}

.btn-text {
    font-size: 16px;
    font-family: Manrope, sans-serif;
    color: #ffffff;

}



.mini-btn {
    width: 64px;
    height: 64px;
    background-color: #0f0f0f;
    color: white;
    border: 1px solid #262626;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* description */
.wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.block-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description,
.cast,
.review {
    background-color: #1a1a1a;
    max-width: 850px;
    height: 162px;
    border-radius: 12px;
    border: 1px solid #262626;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
}

.title {
    font-size: 18px;
    color: #999999;
}

.text {
    font-size: 18px;
    color: #ffffff;
}

.cast {
    height: 233px;
}

.cast-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.photo-grid {
    display: flex;
    flex-direction: row;
    gap: 25px;
    max-width: 770px;
}

.photo-grid img {
    width: 87px;
    height: 89px;
}

.cast-arrow {
    border-radius: 100px;
    background-color: #141414;
    border: 1px solid #262626;
    width: 44px;
    height: 44px;
}

.cast-arrow:active {
    transform: translateY(2px);
}


.review {
    min-height: 455px;
    justify-content: space-between;
    /* розкидає верх і низ */
}

/* two blocks */
.two-blocks {
    display: flex;
    margin-top: 30px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}


.small-block {
    background-color: #0f0f0f;
    border: 1px solid #262626;
    border-radius: 12px;
    max-width: 377px;
    max-height: 223px;
    padding: 25px;
}

.aniket {
    display: flex;
    flex-direction: column;
}

.aniket h3 {
    margin-bottom: 4px;
}

.aniket p {
    font-size: 16px;
    color: #999999;
    margin: 0;
}

.rate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.star-rate {
    display: flex;
    flex-direction: row;
    background-color: #141414;
    border-radius: 51px;
    border: 1px solid #262626;
    width: 120px;
    max-height: 29px;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.star-rate img {
    max-width: 74px;
    max-height: 14px;

}

.star-rate p {
    font-size: 14px;
    color: #999999;
}

.small-text p {
    font-size: 16px;
    color: #999999;
}

.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 44px;
    margin-top: auto;
}

/* right block */
.right-block {
    width: 100%;
    max-width: 416px;
    height: 100%;
    min-height: 762px;
    background-color: #1a1a1a;
    border-radius: 12px;
    border: 1px solid #262626;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.released {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.released p {
    font-weight: 600;
    margin: 0px;
}

.heads {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    min-height: 24px;
    height: 100%;
    font-size: 16px;
    color: #999999;
}

.heads img {
    width: 20px;
    height: 20px;
}

/* languages */

.languages-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 300px;
    width: 100%;
    flex-wrap: wrap;
}

.lan {
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 6px;
    color: #ffffff;
    max-width: 92px;
    width: auto;
    min-height: 33px;
}

/* rating */
.rate-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.rating-block {
    display: flex;
    flex-direction: column;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
    max-width: 160px;
    width: 100%;
    padding: 10px;
}

.rating-block p {
    align-items: flex-start;
    margin: 5px;
}

.star {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: none;
    width: 120px;
    max-height: 29px;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

/* director and music */
.dev {
    display: flex;
    flex-direction: row;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 8px;

}

.dev img {
    min-height: 50px;
    height: 100%;
    margin: 25px;
}

.name p {
    color: #999999;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 6px;
    color: #ffffff;
    max-width: 160px;
    width: 100%;
    min-height: 48px;
    gap: 8px;
    font-size: 14px;
}

.section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    margin: 40px 0;
    padding: 0 70px;

}

.section-header h1 {
    font-size: 18px;
    margin: 0;
}

.section-header p {
    color: #999999;
    font-size: 16px;
    margin: 0;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.primary-btn {
    background-color: #e50000;
    width: 200px;
    height: 64px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.4s ease, box-shadow 0.4s ease;
    gap: 12px;
    margin-top: 15px;
    color: white;
    font-size: 16px;
}


.primary-btn:hover {
    background: #dc0202;
}

/* free trial period */
.section-free {
    display: grid;
    place-items: center;
    position: relative;
}

.text-wrap {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 1020px;
    padding: 20px;
    gap: 40px;
}

.image-block {
    grid-column: 1 / span 9;
    grid-row: 1 / span 4;
    z-index: 1;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1920px;
    position: relative;
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
}

.free-block {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 1200px;
    object-fit: cover;
    grid-area: 1 / 1;
}

.free-block::after {
    content: '';
    position: absolute;
    width: 100%;
    inset: 0;
    background: linear-gradient(to left, rgba(229, 0, 0, 0.5) 10%, rgb(30, 30, 30) 100%, rgb(5, 3, 3) 80%, transparent 100%);
    z-index: 1;
}

.gallery-row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 8px;
    margin-bottom: 8px;
}

.free-img {
    height: 73px;
    width: 124px;
    object-fit: cover;
}

.primary-btn {
    background-color: #e50000;
    width: 200px;
    height: 64px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.4s ease, box-shadow 0.4s ease;
    gap: 12px;
    margin-top: 15px;
    color: white;
    font-size: 16px;
}


.primary-btn:hover {
    background: #dc0202;
}


/* section header*/

.text-wrap h1 {
    font-size: 24px;
    margin: 0;
}

.text-block p {
    color: #999999;
    font-size: 16px;
    margin: 0;
    align-items: flex-start;
}


/*footer */
.footer {
    background-color: #0F0F0F;
    padding: 10px;
    max-width: 100%;

}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    max-width: 1920px;
    width: 100%;
}

.footer-column {
    background-color: #1a1a1a00;
    border-radius: 12px;
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 13px;
}

.footer-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.footer-link {
    padding: 10px 16px;
    background-color: #1a1a1a00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: left;
    font-size: 14px;
}

.footer-link:hover {
    background-color: #555;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.social-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.social-btn img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: #999;
    font-size: 14px;
}

.legal-links {
    display: flex;
    gap: 15px;
}

.legal-links button {
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 14px;
}

.legal-links button:hover {
    color: white;
}