body {
    background-color: #1e1e1e;
    font-family: 'Manrope', sans-serif;
    color: #ffffff;
}


header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, auto);
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

/* navbar */
.navbar {
    max-height: 100px;
    max-width: 1920px;
    padding: 30px 162px;
    grid-column: 1 / span 9;
    grid-row: 1 / span 4;
    z-index: 3;
    display: grid;
    grid-auto-flow: column;
    align-items: start;
}

.logo {
    display: flex;
    max-width: 500px;
    max-height: 160px;
}


.btn-container {
    display: flex;
    background-color: transparent;
    max-width: 560px;
    max-height: 80px;
}

.icon-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-links {
    max-width: 600px;
    max-height: 80px;
    background-color: #0f0f0f;
    display: flex;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 4px solid #1a1a1a;
}

.nav-link {
    color: #bfbfbf;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.nav-link.active {
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 12px;
}

.nav-link:active {
    transform: translateY(2px);
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 12px;
}

/* image gallery */
.image-block {
    grid-column: 1 / span 9;
    grid-row: 1 / span 4;
    z-index: 1;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1920px;
    position: relative;
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
}

.gallery-row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 8px;
    margin-bottom: 8px;
}

.gallery-img {
    height: 163px;
    width: 157px;
    border-radius: 12px;
    object-fit: cover;
}

.abstract-design {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.abstract-design img {

    max-width: 300px;
    max-height: 300px;
    z-index: 2;
}

/* hero section */
.hero-section {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -105px;
    z-index: 2;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.text-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.text-container p {
    color: #999999;
    font-size: 16px;
    line-height: 1.5;
}

.primary-btn {
    background-color: #e50000;
    width: 200px;
    height: 64px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.4s ease, box-shadow 0.4s ease;
    gap: 12px;
    margin-top: 15px;
    color: white;
    font-size: 16px;
}


.primary-btn:hover {
    background: #dc0202;
}



/* section header*/
.section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    margin: 40px 0;
    padding: 0 70px;

}

.section-header h1 {
    font-size: 18px;
    margin: 0;
}

.section-header p {
    color: #999999;
    font-size: 16px;
    margin: 0;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: start;
}


/* category grid */
.category-grid {
    display: flex;
    gap: 40px;
    padding: 0 40px;
    overflow-x: auto;
    margin-bottom: 40px;
    max-width: 1920px;
}

.category-card {
    background-color: #1a1a1a;
    border-radius: 12px;
    padding: 30px;
    width: 180px;
    flex-shrink: 0;
    border: 4px solid #262626;
    
}

.card-images {
    display: flex;
    flex-direction: column;
    gap: 5px;
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 65%, transparent 100%);
}

.image-row {
    display: flex;
    gap: 5px;
}

.card-images img {
    height: 85px;
    width: 85px;
    object-fit: cover;
    border-radius: 8px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.card-footer h3 {
    font-size: 15px;
    margin: 0;
}

.card-footer img {
    height: 18px;
    width: 18px;
}

/* device grid*/
.device-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 70px;
    margin-top: 40px;
}

.device-card {
    background-color: #0f0f0f;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #262626;
    background: linear-gradient(225deg,
            rgba(229, 0, 0, 0.2) 0%, rgba(15, 15, 15, 0.3) 30%);
    transition: background 0.4s ease;
}

.device-img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1a1a1a;
    margin-bottom: 15px;
}

.device-img img {
    max-width: 24px;
    max-height: 24px;
}

.device-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.device-card p {
    color: #999999;
    font-size: 14px;
    margin: 0;
}

/* faq-section*/
.faq-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 15px;
    padding: 0 75px;
    margin-top: 40px;
}

.faq-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    border-radius: 12px;
    gap: 10px;
}

.faq-active {
    display: flex;
    flex-direction: column;
}

.faq-number {
    background-color: #1f1f1f;
    border: 1px solid #262626;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.faq-question {
    font-size: 17px;
    margin: 0;
    flex-grow: 1;
}

.faq-answer {
    font-size: 13px;
    color: #ffffff;
    margin-top: 10px;
}

.faq-icon {
    max-height: 20px;
    max-width: 20px;
}

/* Toggle button */
.toggle-container {
    display: flex;
    background-color: #0f0f0f;
    border-radius: 10px;
    border: 1px solid #262626;
    padding: 5px;
    width: 180px;
    margin-left: auto;
}

.toggle-btn {
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    background-color: #0f0f0f;
    color: #999999;
}

.toggle-btn.active {
    background-color: #1f1f1f;
    color: white;
}

.toggle-btn:active,
.primary-btn:active,
.secondary-btn:active,
.footer-link:active,
.choose-btn:active,
.icon-btn:active {
    transform: translateY(2px);
}

/* pricing grid*/
.pricing-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px 20px;
    flex-wrap: wrap;
    max-width: 1920px;
}

.pricing-card {
    background-color: #1a1a1a;
    border-radius: 12px;
    max-width: 400px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    border: 2px solid #262626;
}

.pricing-card h3 {
    font-size: 20px;
    margin-bottom: 12px;
}

.pricing-card p {
    color: #999;
    font-size: 14px;
    margin-bottom: 24px;
    line-height: 1.5;
}

.price {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
}

.price span {
    font-size: 14px;
    color: #999;
    font-weight: normal;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.secondary-btn {
    background-color: #141414;
    color: #fff;
    border: 2px solid #262626;
    border-radius: 6px;
    width: 160px;
    height: 54px;
    cursor: pointer;
    font-size: 14px;
}

.choose-btn {
    background-color: #e50000;
    width: 160px;
    height: 54px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 12px;
    color: white;
    font-size: 16px;
}

/* free trial period */
.section-free {
    gap: 400px;
}

/*footer */
.footer {
    background-color: #0F0F0F;
    padding: 10px;
    max-width: 100%;

}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    max-width: 1920px;
    width: 100%;
}

.footer-column {
    background-color: #1a1a1a00;
    border-radius: 12px;
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: flex-start;
    gap: 10px;
    font-size: 13px;
}

.footer-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.footer-link {
    padding: 10px 16px;
    background-color: #1a1a1a00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: left;
    font-size: 14px;
}

.footer-link:hover {
    background-color: #555;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.social-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.social-btn img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: #999;
    font-size: 14px;
}

.legal-links {
    display: flex;
    gap: 15px;
}

.legal-links button {
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 14px;
}

.legal-links button:hover {
    color: white;
}