body {
    background-color: #1e1e1e;
    font-family: 'Manrope', sans-serif;
    color: #ffffff;

}

header {
    width: 100%;
    max-width: 1920px;
}

/* Navbar styles */
.navbar {
    padding: 24px 80px 0px 80px;
    max-height: 100px;
    margin: 20px 20px 20px 20px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    max-width: 500px;
    max-height: 160px;
}


.btn-container {
    display: flex;
    background-color: transparent;
    max-width: 560px;
    max-height: 80px;
}

.lines {
    display: none;
}

.btn-container1 {
    gap: 16px;
}

.icon-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-links {
    max-width: 600px;
    max-height: 80px;
    background-color: #0f0f0f;
    display: flex;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 4px solid #1a1a1a;
}

.nav-link {
    color: #bfbfbf;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.nav-link.active {
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 12px;
}

.nav-link:active {
    transform: translateY(2px);
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 12px;
}

/* Active styles */
.movies:active,
.support:active,
.subs:active,
.mini-btn:active,
.btn-arrow:active,
.button-block:active {
    transform: translateY(2px);
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 8px;
}


/* top block */
.top-section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    max-height: 835px;
    overflow: hidden;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    /* центрируем весь блок */
    padding: 0 80px;
    /* отступы слева и справа */
    box-sizing: border-box;
    /* чтобы паддинги не ломали ширину */

}


.top-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-area: 1 / 1;
    z-index: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.big-image {
    width: 100%;
    /* вместо 98% */
    height: auto;
    object-fit: cover;
    grid-area: 1 / 1;
    filter: brightness(70%);
    border: 1px solid #262626;
    border-radius: 12px;
    box-sizing: border-box;
    /* добавляем */
    z-index: 0;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0.708) 45%, transparent 100%);
}


.top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-bottom: 60px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;

}

.text-container h1 {
    font-size: 28px;
    margin: 0;
}

.text-container p {
    color: #999999;
    font-size: 16px;
    line-height: 1.5;
}

.indicator {
    display: none;
}
.button {
    background-color: #e50000;
    width: 128px;
    height: 52px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.button:active,
.primary-btn:active {
    transform: translateY(2px);
    text-decoration: none;
}

.btn-text {
    font-size: 16px;
    font-family: Manrope, sans-serif;
    color: #ffffff;

}



.mini-btn {
    width: 48px;
    height: 48px;
    background-color: #0f0f0f;
    color: white;
    border: 1px solid #262626;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottom-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

.btn-arrow {
    border: none;
    background-color: #0f0f0f;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #1f1f1f;

}



/* movie */

/* Section header styles */
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
    max-width: 1920px;
}

/* .text-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
} */

.text-block h1 {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}

/* Category grid styles */
.category-grid {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    margin-bottom: 40px;
    width: 100%;
    max-width: 1920px;
}

.category-card {
    background-color: #1a1a1a;
    border-radius: 12px;
    padding: 30px;
    width: 165px;
    border: 1px solid #262626;
}

.section-four {
    width: 225px;
}

.card-images {
    display: flex;
    flex-direction: column;
    gap: 5px;
    mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 35%, transparent 100%);
}

.images-four {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

}

.image-row {
    display: flex;
    gap: 5px;
}


.card-images img {
    height: 85px;
    width: 85px;
    object-fit: cover;
    border-radius: 8px;
}

.img-four img {
    max-height: 100px;
    max-width: 100px;
    border-radius: 8px;
}

.one-img img {
    height: 230px;
    width: 200px;
    border-radius: 8px;
}

.card-image {
    display: flex;
    justify-content: center;
}

.statistick-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    gap: 5px;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 51px;
    color: #999999;
}

.statistick-block p {
    font-size: 14px;
}

.first {
    width: 100px;
}

.sec p {
    margin: 0;
}

.sec {
    width: 94px;
}

.stars {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 110px;
}

.card-footer .stars img {
    width: 70px;
    height: 18px;
    display: block;
}

.biggest-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.big-img img {
    height: auto;
    object-fit: contain;
    display: block;
}

.category-four {
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.text-release {
    width: 200px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}

.card-footer h3 {
    font-size: 15px;
    margin: 0;
}

.card-footer img {
    height: 18px;
    width: 18px;
}


.movie-block {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 100px auto 0 auto;
    padding: 0 40px;
    border: 2px solid #262626;
    border-radius: 12px;
    height: auto;
    max-width: 1350px;
    width: 100%;
    box-sizing: border-box;
}

.show-block {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 100px auto 0 auto;
    padding: 0 40px;
    border: 2px solid #262626;
    border-radius: 12px;
    height: auto;
    max-width: 1350px;
    width: 100%;
    box-sizing: border-box;
}


.movie-btn {
    position: absolute;
    top: -40px;
    left: 20px;
}

.btn-container2 {
    background-color: #0f0f0f;
    height: 50px;
    width: auto;
    border-radius: 12px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 4px solid #1a1a1a;
    margin-top: 20px;
    margin-left: auto;
}

.button-block {
    border: none;
    background-color: #1a1a1a;
    width: 50px;
    height: 35px;
    border-radius: 4px;
}

.btn-top {
    background-color: #e50000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 70px;
}



/* free trial period */
.section-free {
    display: grid;
    place-items: center;
    position: relative;
    padding: 60px 100px 60px 10px;
    max-width: 1920px;
}

.text-wrap {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 1220px;
    padding: 20px;
    gap: 40px;

}

.image-block {
    grid-column: 1 / span 9;
    grid-row: 1 / span 4;
    z-index: 1;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1920px;
    width: 100%;
    position: relative;
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
}

.free-block {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 1920px;
    object-fit: cover;
    grid-area: 1 / 1;
}

.free-block::after {
    content: '';
    position: absolute;
    width: 100%;
    inset: 0;
    background: linear-gradient(to left, rgba(229, 0, 0, 0.5) 10%, rgb(30, 30, 30) 100%, rgb(5, 3, 3) 80%, transparent 100%);
    z-index: 1;
}

.gallery-row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 8px;
    margin-bottom: 8px;
}

.free-img {
    height: 83px;
    width: 150px;
    object-fit: cover;
}

/* section header*/

.text-wrap h1 {
    font-size: 28px;
    margin: 0;
}

.text-block p {
    color: #999999;
    font-size: 16px;
    margin: 0;
    align-items: flex-start;
}


.primary-btn {
    background-color: #e50000;
    width: 200px;
    height: 64px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.4s ease, box-shadow 0.4s ease;
    gap: 12px;
    margin-top: 15px;
    color: white;
    font-size: 16px;
}


.primary-btn:hover {
    background: #dc0202;
}


/* Footer styles */
.footer {
    background-color: #0F0F0F;
    padding: 10px;
    max-width: 100%;

}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    max-width: 1920px;
    width: 100%;
}

.footer-column {
    background-color: #1a1a1a00;
    border-radius: 12px;
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 13px;
}

.footer-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.footer-link {
    padding: 10px 16px;
    background-color: #1a1a1a00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: left;
    font-size: 14px;
}

.footer-link:hover {
    background-color: #555;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.social-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.social-btn img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: #999;
    font-size: 14px;
}

.legal-links {
    display: flex;
    gap: 15px;
}

.legal-links button {
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 14px;
}

.legal-links button:hover {
    color: white;
}

/* фдфптивність */
@media (max-width: 480px) {

    header {
        display: grid;
        position: relative;
        width: 100%;
        margin: 0 auto;
        max-width: 480px;
    }

    .navbar {
        max-height: 100px;
        grid-column: 1 / -1;
        max-width: 390px;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 3;
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 115px;
        height: 35px;
    }

    .vector-img {
        width: 35px;
        height: 35px;
    }

    .streamvibe {
        width: 79px;
        height: 11px;
    }

    .lines {
        display: flex;
        width: 48px;
        height: 48px;
        background-color: #1a1a1a;
        border: 3px solid #262626;
        border-radius: 6px;
        justify-content: center;
        align-items: center;
    }

    .lines img {
        width: 18px;
        height: 12px;
    }

    .btn-container1,
    .nav-links,
    .btn-container2 {
        display: none;
    }

    .big-image {
        width: 100%;
        height: 468px;
        object-fit: cover;
        grid-area: 1 / 1;
        filter: brightness(70%);
        border: 1px solid #262626;
        border-radius: 12px;
        box-sizing: border-box;
        z-index: 0;
        mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0.708) 45%, transparent 100%);
    }

    .top-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        grid-area: 1 / 1;
        z-index: 1;
        box-sizing: border-box;
        padding: 16px;
        width: 100%;
    }

    .top-section {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        max-height: 835px;
        overflow: hidden;
        width: 100%;
        padding: 0;
    }

    .bottom-block {
        display: none;
    }

    .image-block {
        width: 100%;
        height: auto;
        opacity: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
        z-index: 1;
        overflow: hidden;
    }

    .gallery-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .gallery-img {
        width: 100%;
        height: 143px;
        object-fit: cover;
    }

    .abstract-design img {
        max-width: 200px;
        width: 100%;
        height: auto;
    }

    main {
        width: 100%;
    }

    /* movie block  */
    .show-block {
        display: none;
    }


    .movie-block {
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        max-width: 1350px;
        width: 100%;
        box-sizing: border-box;
        border: none;
        padding: 0;
    }

    .movie-btn {
        display: none;
    }

    .text-container h1 {
        font-size: 24px;
        line-height: 1.3;
    }

    .text-container p {
        display: none;
    }

    .text-block p {
        font-size: 14px;
        line-height: 1.5;
        max-height: 3em;
        overflow: hidden;
        width: 100%;
    }

    .btn-block {
        display: flex;
        flex-direction: column;
    }

    .button {
        background-color: #e50000;
        width: 300px;
        height: 52px;
        border-radius: 8px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
        margin-top: 20px;
        gap: 5px;
    }

    .btn-container3 {
        background-color: #0f0f0f;
        height: 40px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 20px;
        border: 4px solid #1a1a1a;
        width: auto;
    }

    .primary-container {
        margin: 0;
    }

    .primary-btn {
        width: 190px;
        height: 52px;
        font-size: 14px;
        padding: 0;
    }

    .section-header {
        padding: 16px 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section-header h1 {
        font-size: 16px;
    }

    .section-header p {
        font-size: 14px;
    }

    .category-wrapper {
        max-width: 390px;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;

    }

    .category-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
        margin-bottom: 5px;
        overflow: hidden;
    }

    .category-grid>.category-card:nth-child(n+3) {
        display: none;
    }

    .indicator-wrap {
        margin-top: 20px;
    }

    .indicator {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .category-card {
        width: 100%;
        max-width: 130px;
        margin: 0 auto;
    }

    .card-images img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

    .one-img img {
        height: 200px;
        width: 180px;
    }

    .big-img img {
        height: auto;
        object-fit: contain;
        display: block;
    }


    .section-four {
        width: 225px;
    }

    .section-free {
        width: 100%;
        max-width: 358px;
        height: 344px;
        padding: 10px 10px 10px 60px;
    }

    .free-block {
        position: relative;
        height: 344px;
        width: 100%;
        max-width: 390px;
        grid-area: 1 / 1;
        overflow: hidden;

    }

    .free-block::after {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        background: linear-gradient(to top, rgba(229, 0, 0, 0.5) 10%, rgb(30, 30, 30) 100%, rgb(5, 3, 3) 80%, transparent 100%);
        z-index: 1;
    }

    .free-img {
        height: 158px;
        width: 138px;
        object-fit: cover;
    }

    .text-block {
        width: 298px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text-wrap {
        display: flex;
        flex-direction: column;
    }

    .footer {
        width: 100%;
        height: auto;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-column {
        font-size: 12px;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }

    .footer-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .footer-link {
        font-size: 13px;
        line-height: 1.4;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-top: 1px solid #262626;
    }

    .copyright {
        display: flex;
        padding-left: 6px;
    }
}