body {
    background-color: #1e1e1e;
}

.navbar {
    height: 120px;
    width: 1000px;
    padding-left: 162px;
    padding-right: 162px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    /* или fixed */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: 10;
    /* чтобы быть поверх грида */
}

.logo {
    display: flex;
    height: 60px;
    width: 199px;
    /* align-self: flex-start; */
    left: 162px;
    top: 30px;
    position: absolute;
    padding: 0px;
}

.streamvibe {
    height: 20px;
    width: 136px;
    left: 63px;
    top: 20px;
    position: absolute;
}

.btn-container  {
    background-color: #1e1e1e00;
    position: absolute;
    top: 40px;
    right: 0;
    margin: 10px;
}

.search,
.bell {
    background-color: #1e1e1e00;
    border: none;
}

.search:active {
    transform: translateY(2px);
}

.bell:active {
    transform: translateY(2px);
}

.mid-btn {
    background-color: #0f0f0f;
    width: 555px;
    height: 60px;
    position: absolute;
    top: 22px;
    left: 500px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 4px solid #1a1a1a;
}

/* Home */
.home {
    background-color: #1a1a1a;
    color: #ffffff;
    width: 98px;
    height: 55px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-family: Manrope;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home:active {
    transform: translateY(2px);
}

/* Movies, Support, Subs */
.movies,
.support,
.subs {
    background-color: #0f0f0f;
    color: #bfbfbf;
    border: none;
    font-size: 18px;
    font-family: Manrope;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    padding: 10px;
    height: 55px;
    display: flex;
    align-items: center;
}

/* Active styles */
.movies:active,
.support:active,
.subs:active {
    transform: translateY(2px);
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 12px;
}




/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

.subcontainer {
    display: flex;
    flex-direction: column;
    width: 960px;
}

.imagecontainer,
.imagecontainer2,
.imagecontainer3,
.imagecontainer4 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 8px;
}


.imagecontainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
}

.imagecontainer4::before {
    content: '';
    position: absolute;
    top: 151px;
    left: 0;
    width: 100%;
    height: 581px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.851) 0%, rgba(0, 0, 0, 0)50%);
    z-index: 1;
}

.image {
    height: 163px;
    width: 157px;
    border-radius: 12px;
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    object-fit: cover;
    z-index: 2;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.abstractdesign {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Якщо потрібно також по вертикалі */
}

/* ///////////////////////////////////////////////// */
/* .subcontainer2 {
    height: 120px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    position: relative;
} */
.subcontainer2 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -105px;
    z-index: 2;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    font-family: Manrope;
}

.title {
    text-align: center;
    color: aliceblue;
    font-size: 28px;
    height: 120px;
}

.paragraph {
    text-align: center;
    color: #999999;
    width: 800px;
    left: 350px;
    position: relative;

}

.button {
    background-color: #e50000;
    width: 230px;
    height: 64px;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.4s ease, box-shadow 0.4s ease;
    gap: 12px;
    margin-top: 15px;
}

.btn-text {
    font-size: 16px;
    font-family: Manrope, sans-serif;
    color: #ffffff;
}



/* anim for btn */
.button:hover {
    color: #fff;
    background: #dc0202;
    box-shadow: 0 0 10px #dc0202, 0 0 40px #dc0202, 0 0 80px #dc0202;
}

.button span {
    position: absolute;
    display: block;
    z-index: 1;
}

.button span:nth-of-type(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
}

.button:hover span:nth-of-type(1) {
    left: 100%;
    transition: 1s;
}

.button span:nth-of-type(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
}

.button:hover span:nth-of-type(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button span:nth-of-type(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
}

.button:hover span:nth-of-type(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.button span:nth-of-type(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffffff);
}

.button:hover span:nth-of-type(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/* main */
.subcontainer3 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -45px;
    z-index: 2;
}

.title2 {
    font-size: 18px;
    font-family: Manrope;
    text-align: left;
    color: aliceblue;
    padding-left: 70px;
}

.paragraph2 {
    font-size: 18px;
    font-family: Manrope;
    color: #999999;
    padding-left: 70px;
}

.btn-container2 {
    background-color: #0f0f0f;
    height: 30px;
    width: 170px;
    align-self: flex-start;
    left: 1240px;
    top: 40px;
    position: absolute;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border: 4px solid #1a1a1a;
}

.button2,
.button3 {
    border: none;
    background-color: #1a1a1a;
    width: 50px;
    height: 35px;
    border-radius: 4px;
}

.button2:active {
    transform: translateY(2px);
}

.button3:active {
    transform: translateY(2px);
}


/* main */

/* first card */
.subcontainer4 {
    height: 310px;
    width: auto;
    padding-left: 70px;
}

.card1 {
    height: 220px;
    width: 180px;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #1a1a1a;
    border: 4px solid #262626;
}

.container2 {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.image-2 {
    height: 85px;
    width: 85px;
}

.container3 {
    height: 0px;
    width: 195px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 30px;
    top: 245px;
    gap: 147px;
}

.arrow1 {
    height: 18px;
    width: 18px;

}

.heading {
    color: #ffffff;
    text-align: left;
    font-size: 15px;
    font-family: Manrope;
    width: 10px;

}

.img-container6::before {
    content: '';
    position: absolute;
    top: 60px;
    width: 175px;
    height: 120px;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* second card */

.card2 {
    left: 340px;
    height: 220px;
    width: 180px;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #1a1a1a;
    border: 4px solid #262626;
}

.container4 {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.heading2 {
    color: #ffffff;
    text-align: left;
    font-size: 15px;
    font-family: Manrope;
    width: 25px;

}

.container5 {
    height: 0px;
    width: 195px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 30px;
    top: 245px;
    gap: 130px;
}

.image-3 {
    height: 85px;
    width: 85px;
}

.arrow2 {
    height: 18px;
    width: 18px;
}

.img-container8::before {
    content: '';
    position: absolute;
    top: 60px;
    width: 175px;
    height: 120px;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* third */
.card3 {
    left: 600px;
    height: 220px;
    width: 180px;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #1a1a1a;
    border: 4px solid #262626;
}

.container6 {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.heading3 {
    color: #ffffff;
    text-align: left;
    font-size: 15px;
    font-family: Manrope;
    width: 20px;

}

.container7 {
    height: 0px;
    width: 195px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 30px;
    top: 245px;
    gap: 133px;
}

.image-4 {
    height: 85px;
    width: 85px;
}

.img-container10::before {
    content: '';
    position: absolute;
    top: 60px;
    width: 175px;
    height: 120px;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    z-index: 1;
}

.arrow3 {
    height: 18px;
    width: 18px;
}

#arrow1:active {
    transform: translateY(2px);
}

/* four card */
.card4 {
    left: 860px;
    height: 220px;
    width: 180px;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #1a1a1a;
    border: 4px solid #262626;
}

.container8 {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.heading4 {
    color: #ffffff;
    text-align: left;
    font-size: 15px;
    font-family: Manrope;
    width: 10px;

}

.container9 {
    height: 0px;
    width: 195px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 30px;
    top: 245px;
    gap: 145px;
}

.image-5 {
    height: 85px;
    width: 85px;
}

.img-container12::before {
    content: '';
    position: absolute;
    top: 60px;
    width: 175px;
    height: 120px;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    z-index: 1;
}

.arrow4 {
    height: 18px;
    width: 18px;
}

/* five card*/
.card5 {
    left: 1120px;
    height: 220px;
    width: 180px;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #1a1a1a;
    border: 4px solid #262626;
}

.container10 {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.heading5 {
    color: #ffffff;
    text-align: left;
    font-size: 15px;
    font-family: Manrope;
    width: 10px;

}

.container11 {
    height: 0px;
    width: 195px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 30px;
    top: 245px;
    gap: 145px;
}


.img-container14::before {
    content: '';
    position: absolute;
    top: 60px;
    width: 175px;
    height: 120px;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    z-index: 1;
}

.arrow4 {
    height: 18px;
    width: 18px;
}



.block3 {
    width: 1200px;
    left: 70px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 145px;
    z-index: 2;
}

.title-block {
    font-size: 18px;
    font-family: Manrope;
    text-align: left;
    color: aliceblue;
}

.p {
    font-size: 18px;
    font-family: Manrope;
    color: #999999;
}

/* 6 блоков  */
/* .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 370px;
    gap: 20px;
}

.card {
    background-color: #0f0f0f;
    border-radius: 12px;
}


.imgs {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
} */

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    width: 1400px;
    gap: 20px;
    top: 220px;
    left: 70px;
}

.card {
    background-color: #0f0f0f;
    border-radius: 12px;
    padding: 20px;
    color: #ffffff;
    font-family: sans-serif;
    border: 1px solid #262626;
}

.card-header {
    display: flex;
    position: relative;
    margin-left: 60px;
    top: -30px;
    gap: 16px;
    margin-bottom: 12px;
}

.imgs {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1a1a1a;
}

.imgs img {
    max-width: 24px;
    max-height: 24px;
}

.card h3 {
    margin: 0;
    font-size: 18px;
}

.card p {
    margin: 0;
    font-size: 14px;
    color: #999999;
}

/* ask a question */
#block-ask {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#btn-ask {
    width: 160px;
    height: 50px;
    align-self: flex-start;
    left: 1300px;
    top: 60px;
    position: absolute;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 20px;
}


/* faq */
.faq-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    padding: 24px;
    position: relative;
    top: 200px;
    left: 75px;
    width: 600px;
    /* max-width: 760px; */
}

.faq-number {
    background-color: #1f1f1f;
    border: 1px solid #262626;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: Manrope, sans-serif;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.faq-question {
    color: #ffffff;
    font-size: 18px;
    font-family: Manrope, sans-serif;
    margin: 0;
    line-height: 1.2;
    word-break: break-word;
    display: grid;
}

.faq-answer {
    color: #ffffff;
    font-size: 16px;
    font-family: Manrope, sans-serif;
}


/* toggle button */
.toggle-btn {
    position: relative;
    left: 1250px;
    width: 180px;
    height: 60px;
    background-color: #0f0f0f;
    border-radius: 10px;
    border: 1px solid #262626;
    top: -80px;

    display: flex;
    justify-content: center;
    /* центрує по горизонталі */
    align-items: center;
    /* центрує по вертикалі (за потреби) */
    gap: 10px;
    /* відстань між кнопками */
}

.btn-month {
    width: 80px;
    height: 50px;
    background-color: #1f1f1f;
    border-radius: 10px;
    border: none;
}

.btn-year {
    width: 80px;
    height: 50px;
    border: none;
    background-color: #0f0f0f;
}

.btn-month:active,
.btn-year:active {
    transform: translateY(2px);
}

/* при блока в ряд */
.plans-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    flex-wrap: wrap;
    position: relative;
    top: 150px;
}

.card-block {
    background-color: #1a1a1a;
    border-radius: 12px;
    width: 320px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #262626;

}

.card-block h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    font-family: Manrope;
}

.card-block p {
    color: #999;
    font-size: 14px;
    margin-bottom: 24px;
    line-height: 1.5;
    font-family: Manrope;
}

.card-block .price {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
    font-family: Manrope;
}

.card-block .month {
    color: #999;
    font-size: 14px;
    margin-bottom: 24px;
    font-family: Manrope;
}

.buttonscontainer {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;

}

.btn-free,
.btn-choose {
    /* padding: 12px 16px; */
    font-size: 14px;
    border-radius: 6px;
    font-family: Manrope;
    cursor: pointer;
    border: none;
    width: 130px;
    height: 54px;

}

.btn-free {
    background-color: #141414;
    color: #fff;
    border: 2px solid #262626;
}

.btn-free:active {
    transform: translateY(2px);
}

.btn-choose {
    width: 130px;
    height: 54px;
    background-color: #e50000;
    position: relative;
    border-radius: 8px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.4s ease, box-shadow 0.4s ease;
    gap: 12px;

}

.btn-plan {
    font-size: 16px;
    font-family: Manrope, sans-serif;
    color: #ffffff;
}

/* animation for btn choose plan */
.btn-choose:hover {
    color: #fff;
    background: #dc0202;
    box-shadow: 0 0 10px #dc0202, 0 0 40px #dc0202, 0 0 80px #dc0202;
}

.btn-choose span {
    position: absolute;
    display: block;
    z-index: 1;
}

.btn-choose span:nth-of-type(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
}

.btn-choose:hover span:nth-of-type(1) {
    left: 100%;
    transition: 1s;
}

.btn-choose span:nth-of-type(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
}

.btn-choose:hover span:nth-of-type(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btn-choose span:nth-of-type(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
}

.btn-choose:hover span:nth-of-type(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.btn-choose span:nth-of-type(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffffff);
}

.btn-choose:hover span:nth-of-type(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

#block-free {
    background-color: #bfbfbf;
}

/* footer */
.footer {
    background-color: #0F0F0F;
    height: 400px;
    width: 1188px;
    padding-left: 162px;
    padding-right: 162px;
    padding-top: 100px;
    padding-bottom: 50px;

    gap: 100px;
    top: 333px;

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    position: relative;

}


.info {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}

.home-block,
.movie-block,
.shows-block,
.support-block,
.sub-block,
.connect-block {
    background-color: #1a1a1a;
    border-radius: 12px;
    width: 180px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 2px solid #262626;
}




.home-btn,
.movie-btn,
.shows-btn,
.sup-btn,
.sub-btn {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.btn-foot:active {
    transform: translateY(2px);
}


.btn-foot {
    padding: 10px 16px;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-foot:hover {
    background-color: #555;
}

.connect-btn {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    /* Центрує кнопки в блоці */
}

.connect-btn button img {
    width: 24px;
    height: 24px;
}

.title-foot {
    font-family: Manrope;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}