@use '../mixins/mixins' as *;

body {
    background-color: $main-color;
    font-family: 'Manrope', sans-serif;
    color: $white;

    @media (max-width: $mobile) {
        width: 390px;
    }
}


header {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;

    .navbar {
        @include navbar;
        padding: 24px 140px;
    }


    .top-section {
        @include top-section;
        max-width: 1770px;
    }

    .bottom-block {
        width: 90%;
        @include flex-center;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 12px;
        margin-bottom: 180px;

        .btn-arrow {
            border: none;
            background-color: $bg-dark;
            width: 48px;
            height: 48px;
            border-radius: 8px;
            border: 1px solid #1f1f1f;
        }

        @media (max-width: $mobile) {
            display: none;
        }
    }
}


main {
    .movie-block {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 80px 160px;
        padding: 0 60px;
        border: 2px solid #262626;
        border-radius: 12px;
        height: auto;
        max-width: 1598px;
        align-items: center;
        width: 100%;
        box-sizing: border-box;

        @media (max-width: $laptop) {
            width: 80%;
        }

        @media (max-width: $mobile) {
            padding: 0;
            margin: 0;
            border: none;
            width: 390px;

            .toggle-container {
                @include toggle-btn;

                @media (max-width: $mobile) {
                    width: 370px;

                    .toggle-btn {
                        width: 191px;
                    }
                }
            }
        }

        .movie-btn {
            position: absolute;
            top: -40px;
            left: 20px;

            .button {
                @include red-btn;
                color: inherit;
                text-decoration: none;
            }

            @media (max-width: $mobile) {
                display: none;
            }
        }

        .section-header {
            @include section-header;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 40px 0;
            padding: 0;
            max-width: 1920px;
            width: 100%;

            @media (max-width: $mobile) {
                .text-block {
                    height: 36px;
                }
            }
        }

        .category-wrapper {
            @include genres-cards;

            .category-grid {
                padding: 0;
            }

            .category-card {
                width: 215px;

                @media (max-width: $laptop) {
                    width: 123px;
                    height: 176px;
                }
            }

            .indicator {
                @include indicator;
            }

            @media (max-width: $mobile) {
                max-width: 390px;
                width: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 0;
            }
        }

        .section-four {
            @include card;
            width: 290px;
            height: 378px;

            @media (max-width: $laptop) {
                width: 175px;
                height: 260px;
            }

            @media (max-width: $mobile) {
                width: 231px;
                height: 268px;
                padding: 20px;
                margin: 0 auto;
                overflow: hidden;
            }
        }

        .images-four {
            display: flex;
            gap: 10px;
            mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 35%, transparent 100%);

            img {
                width: 140px;
                height: 140px;

                @media (max-width: $laptop) {
                    width: 83px;
                    height: 94px;
                }
            }
        }

        .indicator {
            display: none;
        }

        .must-watches {
            @include card;
            width: 290px;
            height: 470px;



            @media (max-width: $laptop) {
                width: 195px;
                height: 295px;
                padding: 20px;
            }
        }

        .tranding {
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;

            .timing {
                @include statistic;
                width: 108px;

                @media (max-width: $laptop) {
                    width: 85px;
                    height: 30px;
                }

                img {
                    @media (max-width: $laptop) {
                        width: 15px;
                        height: 15px;
                    }
                }

                p {
                    @media (max-width: $laptop) {
                        margin: 0;
                        font-size: 12px;
                    }
                }
            }

            .watches {
                @include statistic;
                width: 64px;

                @media (max-width: $laptop) {
                    width: 50px;
                    height: 30px;
                }

                img {
                    @media (max-width: $laptop) {
                        width: 15px;
                        height: 15px;
                    }
                }

                p {
                    @media (max-width: $laptop) {
                        margin: 0;
                        font-size: 12px;
                    }
                }
            }

            .stars {
                @include statistic;
                width: 148px;
            }

            .season {
                @include statistic;
                width: 113px;
            }
        }

        .shows-card {
            @include card;
            width: 290px;
            height: 370px;

            @media (max-width: $laptop) {
                width: 195px;
                height: 313px;
                padding: 20px;
            }
        }

        .card {
            &-images {
                display: flex;
                flex-direction: column;
                gap: 5px;
                mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 35%, transparent 100%);

                img {
                    height: 125px;
                    width: 100px;
                    object-fit: cover;
                    border-radius: 8px;

                    @media (max-width: $laptop) {
                        width: 59px;
                        height: 63px;
                    }

                    @media (max-width: $mobile) {
                        width: 68px;
                        height: 68px;
                        object-fit: cover;
                    }
                }
            }

            &-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 35px;

                @media(max-width: $laptop) {
                    margin-top: 20px;
                }

                h3 {
                    font-size: 18px;
                    margin: 0;

                    @media (max-width: $laptop) {
                        font-size: 16px;
                    }
                }

                img {
                    height: 18px;
                    width: 18px;
                }

                .btn-top {
                    background-color: #e50000;
                    color: #ffffff;
                    border: none;
                    border-radius: 5px;
                    height: 25px;
                    width: 70px;
                }

                .text-release {
                    @include statistic;
                    width: 243px;

                    @media (max-width: $laptop) {
                        font-size: 12px;
                    }
                }

            }
        }
    }

    .show-block {
        @media (max-width: $mobile) {
            display: none;
        }
    }

    .trending-card {
        @include card;
        width: 215px;
        height: 340px;
        display: flex;
        flex-direction: column;

        .one-img {
            img {
                width: 220px;

                @media (max-width: $laptop) {
                    width: 148px;
                    height: 200px;
                }
            }
        }

        @media(max-width: $laptop) {
            height: 269px;
            width: 145px;
            padding: 20px;
        }

        @media (max-width: $mobile) {
            width: 189px;
            height: 259px;
        }
    }

    // .card-image {
    //     @media(max-width: $laptop) {
    //         img {
    //             width: 197px;
    //             height: 200px;
    //         }
    //     }
    // }

    .big-img {
        img {
            width: 290px;

            @media (max-width: $laptop) {
                width: 197px;
                height: 232px
            }
        }
    }

    .free-period {
        @include free-period;

        .section-free {
            @media (max-width: $laptop) {
                padding: 50px 100px 50px 135px;
                width: 1183px;
            }
        }

        .text-wrap{
            max-width: 970px;
        }
    }

    .toggle-container {
        display: none;
    }
}

footer {
    background-color: $bg-dark;

    @include footer;
}