@use '../mixins/mixins' as *;

body {
    background-color: $main-color;
    font-family: 'Manrope', sans-serif;
    color: $white;
}


header {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;

    .navbar {
        @include navbar;
    }


    .top-section {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        max-height: 835px;
        overflow: hidden;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 80px;
        box-sizing: border-box;

        .big-image {
            width: 100%;
            height: auto;
            object-fit: cover;
            grid-area: 1 / 1;
            filter: brightness(70%);
            border: 1px solid #262626;
            border-radius: 12px;
            box-sizing: border-box;
            z-index: 0;
            mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 15%, transparent 100%);
        }

        .top-wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            grid-area: 1 / 1;
            z-index: 1;
            width: 100%;
            height: 100%;
            box-sizing: border-box;

            .top-block {
                @include flex-center;
                flex-direction: column;
                text-align: center;
                color: $white;

                .text-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    max-width: 1200px;


                    h1 {
                        font-size: 28px;
                        margin: 0;
                    }

                    p {
                        color: #999999;
                        font-size: 16px;
                        line-height: 1.5;
                    }
                }
            }

            .btn {
                &-block {
                    @include flex-center;
                    gap: 10px;

                    .button {
                        @include red-btn;
                    }

                    .mini-btn {
                        width: 48px;
                        height: 48px;
                        background-color: $bg-dark;
                        color: $white;
                        border: 1px solid #262626;
                        border-radius: 8px;
                        cursor: pointer;
                        transition: background-color 0.2s ease;
                    }
                }

                &-text {
                    font-size: 16px;
                    color: $white;
                }
            }
        }

        .bottom-block {
            width: 90%;
            @include flex-center;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 12px;
            margin-bottom: 180px;

            .btn-arrow {
                border: none;
                background-color: $bg-dark;
                width: 48px;
                height: 48px;
                border-radius: 8px;
                border: 1px solid #1f1f1f;
            }
        }
    }
}





main {
    .movie-block {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 80px;
        padding: 0 60px;
        border: 2px solid #262626;
        border-radius: 12px;
        height: auto;
        max-width: 1750px;
        width: 100%;
        box-sizing: border-box;

        @media (max-width: $laptop) {
            width: 90%;
        }

        .movie-btn {
            position: absolute;
            top: -40px;
            left: 20px;

            .button {
                @include red-btn;
                color: inherit;
                text-decoration: none; // якщо треба забрати підкреслення
            }
        }

        .section-header {
            @include flex-center;
            justify-content: space-between;
            margin: 40px 0;

            .text-block {
                h1 {
                    color: #ffffff;
                    font-size: 20px;
                    margin: 0;
                }
            }

            .btn-container2 {
                background-color: $bg-dark;
                height: 50px;
                width: auto;
                border-radius: 12px;
                padding: 10px 16px;
                display: flex;
                align-items: center;
                gap: 20px;
                border: 4px solid $border-dark;
                margin-top: 20px;
                margin-left: auto;

                .icon-btn2 {
                    border: 1px solid darken($border-dark, 5%);
                    cursor: pointer;
                    background-color: $border-dark;
                    border-radius: 6px;
                    width: 44px;
                    height: 44px;

                    &:active {
                        transform: translateY(2px);
                    }
                }

            }
        }

        .category-wrapper {
            @include genres-cards;
        }

        .section-four {
            @include card;
            width: 330px;
            height: 378px;

            @media (max-width: $laptop) {
                width: 210px;
                height: 240px;
            }
        }

        .images-four {
            display: flex;
            gap: 10px;
            mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 35%, transparent 100%);

            img {
                width: 160px;
                height: 140px;

                @media (max-width: $laptop) {
                    width: 100px;
                    height: 90px;
                }
            }
        }

        .indicator {
            display: none;
        }

        .must-watches {
            @include card;
            width: 360px;
            height: 500px;

            @media (max-width: $laptop) {
                width: 235px;
                height: 350px;
                padding: 20px;
            }
        }

        .tranding {
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;

            .timing {
                @include statistic;
                width: 108px;

            }

            .watches {
                @include statistic;
                width: 64px;
            }

            .stars {
                @include statistic;
                width: 148px;
            }

            .season {
                @include statistic;
                width: 113px;
            }
        }

        .shows-card {
            @include card;
            width: 359px;
            height: 444px;

            @media (max-width: $laptop) {
                width: 235px;
                height: 350px;
                padding: 20px;
            }
        }

        .card {
            &-images {
                display: flex;
                flex-direction: column;
                gap: 5px;
                mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 35%, transparent 100%);

                img {
                    height: 132px;
                    width: 120px;
                    object-fit: cover;
                    border-radius: 8px;

                    @media (max-width: $laptop) {
                        width: 74px;
                        height: 80px;
                    }

                    @media (max-width: $mobile) {
                        width: 60px;
                        height: 60px;
                        object-fit: contain;
                    }
                }
            }

            &-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 35px;

                @media(max-width: $laptop) {
                    margin-top: 20px;
                }

                h3 {
                    font-size: 18px;
                    margin: 0;

                    @media (max-width: $laptop) {
                        font-size: 16px;
                    }
                }

                img {
                    height: 18px;
                    width: 18px;
                }

                .btn-top {
                    background-color: #e50000;
                    color: #ffffff;
                    border: none;
                    border-radius: 5px;
                    height: 25px;
                    width: 70px;
                }

                .text-release {
                    @include statistic;
                    width: 243px;

                    @media (max-width: $laptop) {
                        font-size: 12px;
                    }
                }

            }
        }
    }

    .trending-card {
        @include card;

        @media(max-width: $laptop) {
            height: 280px;
            width: 175px;
            padding: 20px;
        }
    }

    .card-image {
        @media(max-width: $laptop) {
            img {
                width: 175px;
                height: 200px;
            }
        }
    }

    .big-img {
        @media (max-width: $laptop) {
            img {
                width: 240px;
                height: 280px
            }
        }
    }

    .free-period {
        @include free-period;
    }
}

footer {
    background-color: $bg-dark;

    @include footer;
}