body {
    background-color: #1e1e1e;
    font-family: 'Manrope', sans-serif;
    color: #ffffff;

}

header {
    width: 100%;
    max-width: 1920px;
}

/* Navbar styles */
.navbar {
    padding: 24px 80px 24px 80px;
    max-height: 100px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    max-width: 500px;
    max-height: 160px;
}


.btn-container {
    display: flex;
    background-color: transparent;
    max-width: 560px;
    max-height: 80px;
}

.btn-container1 {
    gap: 16px;
}

.icon-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-links {
    max-width: 600px;
    max-height: 80px;
    background-color: #0f0f0f;
    display: flex;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    border: 4px solid #1a1a1a;
}

.lines {
    display: none;
}

.nav-link {
    color: #bfbfbf;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.nav-link.active {
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 12px;
}

.nav-link:active {
    transform: translateY(2px);
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 12px;
}

/* Active styles */
.movies:active,
.support:active,
.subs:active,
.mini-btn:active,
.btn-arrow:active,
.button-block:active,
.primary-btn:active {
    transform: translateY(2px);
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 8px;
}

/* top block */
.top-section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    /* по центру */
    width: 100%;
    height: 850px;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
}

.big-image {
    width: 98%;
    height: 80%;
    object-fit: cover;
    filter: brightness(50%);
    border: 1px solid #999999;
    border-radius: 12px;
    z-index: 0;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0.708) 65%, transparent 100%);
}

.top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    z-index: 1;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1920px;
}

.text-container h1 {
    font-size: 28px;
}

.text-container p {
    color: #999999;
    font-size: 16px;
    line-height: 1.5;
    flex-direction: row;
}

.button {
    background-color: #e50000;
    width: 200px;
    height: 64px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 12px;
    text-decoration: none;
}

.button:active {
    transform: translateY(2px);
    text-decoration: none;
}

.btn-text {
    font-size: 16px;
    font-family: Manrope, sans-serif;
    color: #ffffff;

}



.mini-btn {
    width: 64px;
    height: 64px;
    background-color: #0f0f0f;
    color: white;
    border: 1px solid #262626;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* description */
.wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.block-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description,
.cast,
.review {
    background-color: #1a1a1a;
    max-width: 1062px;
    height: 162px;
    border-radius: 12px;
    border: 1px solid #262626;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
}

.title {
    font-size: 18px;
    color: #999999;
}

.text {
    font-size: 18px;
    color: #ffffff;
}

.cast {
    height: 233px;
}

.cast-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.photo-grid {
    display: flex;
    flex-direction: row;
    gap: 25px;
    max-width: 770px;
}

.photo-grid img {
    width: 87px;
    height: 89px;
}

.cast-arrow {
    border-radius: 100px;
    background-color: #141414;
    border: 1px solid #262626;
    width: 44px;
    height: 44px;
}

.cast-arrow:active {
    transform: translateY(2px);
}


.review {
    min-height: 455px;
    justify-content: space-between;
    /* розкидає верх і низ */
}

/* two blocks */
.two-blocks {
    display: flex;
    margin-top: 30px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}


.small-block {
    background-color: #0f0f0f;
    border: 1px solid #262626;
    border-radius: 12px;
    max-width: 377px;
    max-height: 223px;
    padding: 25px;
}

.aniket {
    display: flex;
    flex-direction: column;
}

.aniket h3 {
    margin-bottom: 4px;
}

.aniket p {
    font-size: 16px;
    color: #999999;
    margin: 0;
}

.rate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.star-rate {
    display: flex;
    flex-direction: row;
    background-color: #141414;
    border-radius: 51px;
    border: 1px solid #262626;
    width: 120px;
    max-height: 29px;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.star-rate img {
    max-width: 74px;
    max-height: 14px;

}

.star-rate p {
    font-size: 14px;
    color: #999999;
}

.small-text p {
    font-size: 16px;
    color: #999999;
}

.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 44px;
    margin-top: auto;
}

/* right block */
.right-block {
    width: 100%;
    max-width: 519px;
    height: 100%;
    min-height: 762px;
    background-color: #1a1a1a;
    border-radius: 12px;
    border: 1px solid #262626;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.released {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.released p {
    font-weight: 600;
    margin: 0px;
}

.heads {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    min-height: 24px;
    height: 100%;
    font-size: 16px;
    color: #999999;
}

.heads img {
    width: 20px;
    height: 20px;
}

/* languages */

.languages-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 300px;
    width: 100%;
    flex-wrap: wrap;
}

.lan {
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 6px;
    color: #ffffff;
    max-width: 92px;
    width: auto;
    min-height: 33px;
}

/* rating */
.rate-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.rating-block {
    display: flex;
    flex-direction: column;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
    max-width: 160px;
    width: 100%;
    padding: 10px;
}

.rating-block p {
    align-items: flex-start;
    margin: 5px;
}

.star {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: none;
    width: 120px;
    max-height: 29px;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

/* director and music */
.dev {
    display: flex;
    flex-direction: row;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 8px;

}

.dev img {
    min-height: 50px;
    height: 100%;
    margin: 25px;
}

.name p {
    color: #999999;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 6px;
    color: #ffffff;
    max-width: 160px;
    width: 100%;
    min-height: 48px;
    gap: 8px;
    font-size: 14px;
}

.section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    margin: 40px 0;
    padding: 0 70px;

}

.section-header h1 {
    font-size: 18px;
    margin: 0;
}

.section-header p {
    color: #999999;
    font-size: 16px;
    margin: 0;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: start;
}


/* free trial period */
.section-free {
    display: grid;
    place-items: center;
    position: relative;
}

.text-wrap {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 1020px;
    padding: 20px;
    gap: 40px;
}

.image-block {
    grid-column: 1 / span 9;
    grid-row: 1 / span 4;
    z-index: 1;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1920px;
    position: relative;
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
}

.free-block {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 1500px;
    object-fit: cover;
    grid-area: 1 / 1;
}

.free-block::after {
    content: '';
    position: absolute;
    width: 100%;
    inset: 0;
    background: linear-gradient(to left, rgba(229, 0, 0, 0.5) 10%, rgb(30, 30, 30) 100%, rgb(5, 3, 3) 80%, transparent 100%);
    z-index: 1;
}

.gallery-row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 8px;
    margin-bottom: 8px;
}

.free-img {
    height: 73px;
    width: 160px;
    object-fit: cover;
}

/* section header*/
.text-wrap h1 {
    font-size: 24px;
    margin: 0;
}

.text-block p {
    color: #999999;
    font-size: 16px;
    margin: 0;
    align-items: flex-start;
}

.text-block {
    align-items: start;
}

.primary-btn {
    background-color: #e50000;
    width: 200px;
    height: 64px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.4s ease, box-shadow 0.4s ease;
    gap: 12px;
    margin-top: 15px;
    color: white;
    font-size: 16px;
}


.primary-btn:hover {
    background: #dc0202;
}



/*footer */
.footer {
    background-color: #0F0F0F;
    padding: 10px;
    max-width: 100%;

}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    max-width: 1920px;
    width: 100%;
}

.footer-column {
    background-color: #1a1a1a00;
    border-radius: 12px;
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    font-size: 13px;
}

.footer-title {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 10px 16px;
}

.footer-link {
    padding: 10px 16px;
    background-color: #1a1a1a00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: left;
    font-size: 14px;
}

.footer-link:hover {
    background-color: #555;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.social-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.social-btn img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: #999;
    font-size: 14px;
}

.legal-links {
    display: flex;
    gap: 15px;
}

.legal-links button {
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 14px;
}

.legal-links button:hover {
    color: white;
}

.heading-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 20px;
}

.season {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.season p {
    font-size: 18px;
    color: #999999;
}

.season-block {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.three-blocks {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.video {
    display: grid;
    place-items: center;
    max-width: 172px;
    max-height: 118px;
    position: relative;
}

.video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    border-radius: 12px;
    border: 1px solid #262626;
    grid-area: 1 / 1;
}

.season-wrap {
    height: auto;
    background-color: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.chapters-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.chapter {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #262626;
    align-items: center;
    gap: 18px;
}

.pause {
    width: 50px;
    height: 50px;
    background-color: #000000;
    opacity: 0.6;
    border: none;
    border-radius: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1;
    z-index: 1;
}

.pause img {
    width: 30px;
    height: 30px;
    z-index: 2;
}

.time {
    width: 98px;
    height: 40px;
    /* width: 100%;
    height: 100%; */
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.time p {
    margin: 0;
    font-size: 16px;
    color: #999999;
}

.time img {
    max-height: 18px;
    max-height: 18px;
}

.chapter-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chapter-text p {
    margin: 0;
    font-size: 18px;
    color: #999999;
}

.chapter-text {
    display: flex;
    flex-direction: column;
    max-width: 610px;
}

.number {
    margin: 0;
    font-size: 30px;
    color: #999999;
}


.season-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* adaptive */
@media (max-width: 480px) {

    body {
        width: auto;
    }

    header {
        display: grid;
        position: relative;
        width: 100%;
        margin: 0 auto;
        max-width: 480px;
    }

    .navbar {
        max-height: 100px;
        grid-column: 1 / -1;
        max-width: 390px;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 3;
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 115px;
        height: 35px;
    }

    .vector-img {
        width: 35px;
        height: 35px;
    }

    .streamvibe {
        width: 79px;
        height: 11px;
    }

    .lines {
        display: flex;
        width: 48px;
        height: 48px;
        background-color: #1a1a1a;
        border: 3px solid #262626;
        border-radius: 6px;
        justify-content: center;
        align-items: center;
    }

    .lines img {
        width: 18px;
        height: 12px;
    }

    .btn-container1,
    .nav-links,
    .btn-container2 {
        display: none;
    }

    .big-image {
        width: 100%;
        height: 468px;
        object-fit: cover;
        grid-area: 1 / 1;
        filter: brightness(70%);
        border: 1px solid #262626;
        border-radius: 12px;
        box-sizing: border-box;
        z-index: 0;
        mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0.708) 45%, transparent 100%);
    }

    .top-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        grid-area: 1 / 1;
        z-index: 1;
        box-sizing: border-box;
        padding: 16px;
        width: 100%;
    }

    .top-section {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        height: 435px;
        overflow: hidden;
        width: 100%;
        padding: 0;
    }

    .bottom-block {
        display: none;
    }

    .image-block {
        width: 100%;
        height: auto;
        opacity: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
        z-index: 1;
        overflow: hidden;
    }

    .gallery-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .gallery-img {
        width: 100%;
        height: 143px;
        object-fit: cover;
    }

    .photo-grid {
        gap: 10px;
        width: 100%;
        margin-bottom: 5px;
        overflow: hidden;
    }

    .block-hidden {
        display: none;
    }

    main {
        width: 100%;
    }

    .chapter {
        flex-direction: column;
    }

    .chapter-text {
        order: 3;
    }

    .chapter-video {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }


    .chapter-time {
        flex-direction: column-reverse;
        align-items: flex-start;
        width: 271px;
    }

    h3 {
        font-weight: 600;
        font-size: 16px;
    }

    h2 {
        font-size: 16px;
    }
    .number {
        order: 2;
        margin: 25px;
    }

    .video {
        order: 1;
    }

    .chapter-p {
        display: none;
    }

    .right-block {
        max-width: 315px;
    }

    .text-container h1 {
        font-size: 24px;
        line-height: 1.3;
    }

    .text-container p {
        display: none;
    }

    .text-block p {
        font-size: 14px;
        line-height: 1.5;
        max-height: 3em;
        overflow: hidden;
        width: 100%;
    }

    .btn-block {
        display: flex;
        flex-direction: column;
    }

    .button {
        background-color: #e50000;
        width: 300px;
        height: 52px;
        border-radius: 8px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
        margin-top: 20px;
        gap: 5px;
    }

    .btn-container3 {
        background-color: #0f0f0f;
        height: 40px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 20px;
        border: 4px solid #1a1a1a;
        width: auto;
    }

    .primary-container {
        margin: 0;
    }

    .primary-btn {
        width: 190px;
        height: 52px;
        font-size: 14px;
        padding: 0;
    }

    .section-header {
        padding: 16px 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section-header h1 {
        font-size: 16px;
    }

    .section-header p {
        font-size: 14px;
    }

    .indicator-wrap {
        margin-top: 20px;
    }

    .indicator {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-free {
        width: 100%;
        max-width: 358px;
        height: 344px;
        padding: 10px;
    }

    .free-block {
        position: relative;
        height: 344px;
        width: 100%;
        max-width: 390px;
        grid-area: 1 / 1;
        overflow: hidden;

    }


    .free-block::after {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        background: linear-gradient(to top, rgba(229, 0, 0, 0.5) 10%, rgb(30, 30, 30) 100%, rgb(5, 3, 3) 80%, transparent 100%);
        z-index: 1;
    }

    .free-img {
        height: 158px;
        width: 138px;
        object-fit: cover;
    }

    .text-block {
        width: 298px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text-wrap {
        display: flex;
        flex-direction: column;
    }

    .footer {
        width: 100%;
        height: auto;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-column {
        font-size: 12px;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }

    .footer-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .footer-link {
        font-size: 13px;
        line-height: 1.4;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-top: 1px solid #262626;
    }

    .copyright {
        display: flex;
        padding-left: 6px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }
}

/* адаптивность 1920 */

@media (width: 1920px) {

    .wrapper {
        justify-content: space-evenly;
        max-width: 1920px;
    }


    .block-column {
        width: 1062px;
    }

    .right-block {
        width: 519px;
    }


    .big-image {
        width: 95%;
    }
    .description, .cast, .review {
        width: 1062;
        width: 100%;
    }
    /* free trial period */
    .section-free {
        display: grid;
        place-items: center;
        position: relative;
    }

    .text-wrap {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 2;
        color: white;
        text-align: center;
        width: 100%;
        max-width: 1500px;
        padding: 20px;
        gap: 40px;
    }

    .image-block {
        z-index: 1;
        opacity: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
    }

    .free-block {
        position: relative;
        height: auto;
        width: 100%;
        max-width: 1900px;
    }

    .free-block::after {
        content: '';
        position: absolute;
        width: 100%;
        inset: 0;
        background: linear-gradient(to left, rgba(229, 0, 0, 0.5) 10%, rgb(30, 30, 30) 100%, rgb(5, 3, 3) 80%, transparent 100%);
        z-index: 1;
    }

    .gallery-row {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 10px;
        margin-left: auto;
        margin-bottom: 8px;
        max-width: 100%;
    }

    .free-img {
        width: 465px;
        height: 200px;
        object-fit: cover;
    }
}