@use '../mixins/mixins' as *;


body {
    background-color: $main-color;
    font-family: 'Manrope', sans-serif;
    color: $white;
    display: flex;
    flex-direction: column;
}


header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, auto);
    position: relative;
    max-width: 1920px;
    margin: 0 auto;

    .navbar {
        @include navbar;
    }

    .image-block {
        grid-column: 1 / span 9;
        grid-row: 1 / span 4;
        z-index: 1;
        opacity: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
        mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);

        .gallery-row {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            gap: 8px;
            margin-bottom: 8px;

            img {
                height: 200px;
                width: 195px;
                border-radius: 12px;
                object-fit: cover;
            }
        }

        .abstract-design {
            @include flex-center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;

            img {
                max-width: 470px;
                max-height: 470px;

                @media (max-width: $mobile) {
                    width: 200px;
                    height: 200px;
                }

                @media (max-width: $laptop) {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
}


main {
    .hero-section {
        @include flex-center;
        flex-direction: column;
        position: relative;
        top: -105px;
        z-index: 2;

        .text-container {
            flex-direction: column;
            text-align: center;
            max-width: 800px;

            h1 {
                font-size: 28px;
                margin-bottom: 20px;
            }

            p {
                color: $text-color;
                font-size: 16px;
                line-height: 1.5;

                @media (max-width: $mobile) {
                    font-size: 14px;
                    line-height: 1.5;
                    max-height: 3em;
                    overflow: hidden;
                    width: 100%;
                }
            }
        }

        .primary-btn {
            @include primary-btn;

            &:active {
                transform: translateY(2px);
            }
        }
    }

    .section-header {
        @include section-header;
    }


    .category-wrapper {
        @include genres-cards;
    }

    .indicator {
        @include indicator;
    }

    .card {
        &-images {
            @include flex-center;
            display: flex;
            flex-direction: column;
            gap: 5px;
            mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 35%, transparent 100%);

            img {
                height: 123px;
                width: 110px;
                object-fit: cover;
                border-radius: 8px;

                @media (max-width: $laptop) {
                    width: 93px;
                    height: 102px;
                }

                @media (max-width: $mobile) {
                    width: 60px;
                    height: 60px;
                    object-fit: contain;
                }
            }
        }

        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 35px;

            h3 {
                font-size: 18px;
                margin: 0;
            }

            img {
                height: 18px;
                width: 18px;
            }
        }
    }

    .device {
        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 60px 80px 0px 150px;
            max-width: 1596px;

            @media (max-width: $laptop) {
                padding: 40px;
            }

            @media (max-width: $mobile) {
                grid-template-columns: 1fr;
                padding: 30px 0;
                gap: 15px;
            }
        }

        &-card {
            @include column;
            position: relative; // добавлено для ::before
            gap: 30px;
            width: 480px;
            height: 283px;
            border-radius: 12px;
            padding: 20px;
            border: 1px solid #262626;
            background: linear-gradient(225deg, rgba(229, 0, 0, 0.2) 0%, rgba(15, 15, 15, 0.3) 30%);
            transition: background 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 20px rgba(229, 0, 0, 0.2);
                background: linear-gradient(35deg, rgba(229, 0, 0, 0.2) 10%, rgba(15, 15, 15, 0.3) 95%);
            }

            h3 {
                font-size: 23px;
                margin-bottom: 10px;

                @media (max-width: $mobile) {
                    font-size: 18px;
                }
            }

            p {
                color: $text-color;
                font-size: 18px;
                margin: 0;

                @media (max-width: $mobile) {
                    font-size: 14px;
                }
            }

            @media (max-width: $laptop) {
                width: 395px;
                height: 210px;
            }

            @media (max-width: $mobile) {
                width: 330px;
                height: 175px;
            }
        }

        &-info {
            @include column;
            padding: 50px;
            gap: 30px;

            @media (max-width: $laptop) {
                padding: 0;
                gap: 24px;
            }
        }

        &-row {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        &-img {
            @include flex-center;
            width: 72px;
            height: 72px;
            border-radius: 12px;
            background-color: #141414;
            border: 1px solid $border-dark;
            margin-bottom: 15px;

            img {
                max-width: 40px;
                max-height: 40px;
            }
        }
    }


    .faq {
        @include faq-section;
    }

    .toggle-container {
        @include toggle-btn;
    }

    .plans {
        @include plans;
    }

    .free-period {
        @include free-period;
    }
}

footer {
    background-color: $bg-dark;

    @include footer;
}