body {
  background-color: #1e1e1e;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
}

header {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, auto);
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
header .navbar {
  padding: 24px 80px;
  max-height: 100px;
  grid-column: 1/span 9;
  grid-row: 1/span 4;
  z-index: 3;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 425px) {
  header .navbar {
    padding: 5px;
  }
}
header .navbar .logo {
  display: flex;
  max-width: 500px;
  max-height: 160px;
}
@media (max-width: 425px) {
  header .navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 115px;
    height: 35px;
  }
}
@media (max-width: 425px) {
  header .navbar .vector-img {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 425px) {
  header .navbar .streamvibe {
    width: 79px;
    height: 11px;
  }
}
header .navbar .lines {
  display: none;
}
@media (max-width: 425px) {
  header .navbar .lines {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #1a1a1a;
    border: 3px solid #262626;
    border-radius: 6px;
  }
}
header .navbar .nav-links {
  max-width: 600px;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 12px;
  padding: 10px;
  border: 4px solid #1a1a1a;
}
@media (max-width: 425px) {
  header .navbar .nav-links {
    display: none;
  }
}
header .navbar .nav-link {
  color: #bfbfbf;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}
header .navbar .nav-link.active, header .navbar .nav-link:active {
  background-color: #1a1a1a;
  color: #ffffff;
  border-radius: 12px;
  transform: translateY(2px);
}
header .navbar .btn-container1 {
  background-color: none;
}
header .navbar .btn-container1 .icon-btn1 {
  background-color: transparent;
  border: none;
}
header .navbar .btn-container1 .icon-btn1:active {
  transform: translateY(2px);
}
@media (max-width: 425px) {
  header .navbar .btn-container1 {
    display: none;
  }
}
header .image-block {
  grid-column: 1/span 9;
  grid-row: 1/span 4;
  z-index: 1;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
          mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
}
header .image-block .gallery-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 8px;
  margin-bottom: 8px;
}
header .image-block .gallery-row img {
  height: 200px;
  width: 195px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .image-block .abstract-design {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
header .image-block .abstract-design img {
  max-width: 470px;
  max-height: 470px;
}
@media (max-width: 425px) {
  header .image-block .abstract-design img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1440px) {
  header .image-block .abstract-design img {
    width: 300px;
    height: 300px;
  }
}

main .hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -105px;
  z-index: 2;
}
main .hero-section .text-container {
  flex-direction: column;
  text-align: center;
  max-width: 800px;
}
main .hero-section .text-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
main .hero-section .text-container p {
  color: #999999;
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 425px) {
  main .hero-section .text-container p {
    font-size: 14px;
    line-height: 1.5;
    max-height: 3em;
    overflow: hidden;
    width: 100%;
  }
}
main .hero-section .primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 200px;
  height: 54px;
  margin-top: 15px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background: #e50000;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.4s ease, box-shadow 0.4s ease;
}
main .hero-section .primary-btn:active {
  transform: translateY(2px);
}
main .section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 80px 24px 80px;
  justify-content: space-between;
}
@media (max-width: 1440px) {
  main .section-header {
    padding: 24px 40px;
  }
}
@media (max-width: 425px) {
  main .section-header {
    padding: 5px;
    padding: 16px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
main .section-header h1 {
  font-size: 18px;
  margin: 0;
}
main .section-header p {
  color: #999999;
  font-size: 16px;
  margin: 0;
}
main .section-header .text-block {
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 425px) {
  main .section-header .text-block {
    width: 298px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  main .section-header .text-block p {
    font-size: 14px;
    line-height: 1.5;
    max-height: 3em;
    overflow: hidden;
    width: 100%;
  }
}
main .section-header .primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 200px;
  height: 54px;
  margin-top: 15px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background: #e50000;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.4s ease, box-shadow 0.4s ease;
  margin-left: auto;
}
main .section-header .primary-btn:active {
  transform: translateY(2px);
}
main .section-header .btn-container {
  background-color: #0f0f0f;
  border-radius: 12px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 4px solid #1a1a1a;
  margin-left: auto;
}
@media (max-width: 425px) {
  main .section-header .btn-container {
    display: none;
  }
}
main .section-header .btn-container .icon-btn {
  border: 1px solid #0d0d0d;
  cursor: pointer;
  background-color: #1a1a1a;
  border-radius: 6px;
  width: 44px;
  height: 44px;
}
main .section-header .btn-container .icon-btn:active {
  transform: translateY(2px);
}
@media (max-width: 425px) {
  main .category-wrapper .category-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main .category-wrapper .category-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
  max-width: 1920px;
}
@media (max-width: 425px) {
  main .category-wrapper .category-grid .hidden {
    display: none;
  }
}
@media (max-width: 425px) {
  main .category-wrapper .category-grid {
    gap: 10px;
    padding: 0;
    margin-bottom: 5px;
  }
}
main .category-wrapper .category-card {
  background-color: #1a1a1a;
  border-radius: 12px;
  padding: 30px;
  border: 4px solid #262626;
  width: 270px;
  height: 342px;
}
@media (max-width: 1440px) {
  main .category-wrapper .category-card {
    width: 190px;
    height: 220px;
  }
}
@media (max-width: 425px) {
  main .category-wrapper .category-card {
    width: 100%;
    max-width: 140px;
    padding: 20px;
    margin: 0 auto;
  }
}
main .indicator {
  display: none;
}
@media (max-width: 425px) {
  main .indicator {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
}
main .card-images {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 35%, transparent 100%);
          mask-image: linear-gradient(to bottom, transparent 0%, black 0%, black 35%, transparent 100%);
}
main .card-images img {
  height: 123px;
  width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
@media (max-width: 1440px) {
  main .card-images img {
    width: 93px;
    height: 102px;
  }
}
@media (max-width: 425px) {
  main .card-images img {
    width: 60px;
    height: 60px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
main .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
main .card-footer h3 {
  font-size: 18px;
  margin: 0;
}
main .card-footer img {
  height: 18px;
  width: 18px;
}
main .device-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 60px 80px 0px 80px;
}
@media (max-width: 1440px) {
  main .device-grid {
    padding: 40px;
  }
}
@media (max-width: 425px) {
  main .device-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 0;
    gap: 15px;
  }
}
main .device-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 512px;
  height: 283px;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #262626;
  background: linear-gradient(225deg, rgba(229, 0, 0, 0.2) 0%, rgba(15, 15, 15, 0.3) 30%);
  transition: background 0.4s ease;
}
main .device-card h3 {
  font-size: 23px;
  margin-bottom: 10px;
}
@media (max-width: 425px) {
  main .device-card h3 {
    font-size: 18px;
  }
}
main .device-card p {
  color: #999999;
  font-size: 18px;
  margin: 0;
}
@media (max-width: 425px) {
  main .device-card p {
    font-size: 14px;
  }
}
@media (max-width: 1440px) {
  main .device-card {
    width: 395px;
    height: 210px;
  }
}
@media (max-width: 425px) {
  main .device-card {
    width: 361px;
    height: 175px;
  }
}
main .device-info {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 30px;
}
@media (max-width: 1440px) {
  main .device-info {
    padding: 0;
    gap: 24px;
  }
}
main .device-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
main .device-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 12px;
  background-color: #141414;
  border: 1px solid #1a1a1a;
  margin-bottom: 15px;
}
main .device-img img {
  max-width: 40px;
  max-height: 40px;
}
main .faq-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 15px;
  padding: 60px 80px 0px 80px;
  margin-top: 40px;
}
@media (max-width: 1440px) {
  main .faq-grid {
    padding: 20px;
  }
}
@media (max-width: 425px) {
  main .faq-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 0;
    gap: 15px;
  }
}
main .faq-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 24px;
  border-radius: 12px;
  gap: 10px;
  border-bottom: none;
}
main .faq-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #e50000;
  -webkit-mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
          mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
}
main .faq-active {
  display: flex;
  flex-direction: column;
}
main .faq-number {
  background-color: #1f1f1f;
  border: 1px solid #262626;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
main .faq-question {
  font-size: 17px;
  margin: 0;
  flex-grow: 1;
}
main .faq-answer {
  font-size: 13px;
  color: #ffffff;
  margin-top: 10px;
}
main .faq-icon {
  max-height: 20px;
  max-width: 20px;
  margin-left: auto;
}
main .toggle-container {
  display: flex;
  background-color: #0f0f0f;
  border-radius: 10px;
  border: 1px solid #262626;
  padding: 5px;
  width: 180px;
  margin-left: auto;
}
@media (max-width: 425px) {
  main .toggle-container {
    margin: 10px 0;
    width: 180px;
  }
}
main .toggle-container .toggle-btn {
  width: 80px;
  height: 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  background-color: #0f0f0f;
  color: #999999;
}
main .toggle-container .toggle-btn.active {
  background-color: #1f1f1f;
  color: white;
}
main .toggle-container .toggle-btn:active {
  transform: translateY(2px);
}
main .plans .pricing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 60px 80px 60px 80px;
  max-width: 1920px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  main .plans .pricing-grid {
    padding: 60px 40px 0 40px;
  }
}
@media (max-width: 425px) {
  main .plans .pricing-grid {
    padding: 30px 5px;
  }
}
main .plans .pricing-card {
  background-color: #1a1a1a;
  border-radius: 12px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid #262626;
  width: 512px;
  height: 425px;
}
@media (max-width: 1440px) {
  main .plans .pricing-card {
    width: 390px;
    height: 345px;
  }
}
@media (max-width: 425px) {
  main .plans .pricing-card {
    width: 100%;
    max-width: 300px;
    padding: 20px;
  }
}
main .plans .pricing-card h3 {
  font-size: 24px;
  margin-bottom: 12px;
}
main .plans .pricing-card p {
  color: #999;
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 1.5;
}
main .plans .price {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 4px;
}
main .plans .price span {
  font-size: 18px;
  color: #999;
  font-weight: normal;
}
main .plans .btn-container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
}
main .plans .btn-container3 .secondary-btn {
  background-color: #141414;
  color: #fff;
  border: 2px solid #262626;
  border-radius: 6px;
  width: 196px;
  height: 63px;
  cursor: pointer;
  font-size: 14px;
}
main .plans .btn-container3 .choose-btn {
  background-color: #e50000;
  width: 196px;
  height: 63px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  gap: 12px;
  color: white;
  font-size: 16px;
}
main .free-period .section-free {
  display: grid;
  place-items: center;
  position: relative;
  padding: 60px;
  max-width: 1920px;
}
@media (max-width: 1440px) {
  main .free-period .section-free {
    padding: 80px 40px;
  }
}
@media (max-width: 425px) {
  main .free-period .section-free {
    width: 100%;
    max-width: 358px;
    height: 344px;
    padding: 0;
    margin-bottom: 30px;
  }
}
main .free-period .free-block {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 1920px;
  grid-area: 1/1;
}
@media (max-width: 1440px) {
  main .free-period .free-block {
    width: 97%;
  }
}
@media (max-width: 425px) {
  main .free-period .free-block {
    position: relative;
    height: 344px;
    width: 100%;
    max-width: 425px;
    grid-area: 1/1;
    overflow: hidden;
  }
}
main .free-period .free-block::after {
  content: "";
  position: absolute;
  width: 100%;
  inset: 0;
  background: linear-gradient(to left, rgba(229, 0, 0, 0.5) 10%, rgb(30, 30, 30) 100%, rgb(5, 3, 3) 80%, transparent 100%);
  z-index: 1;
}
@media (max-width: 425px) {
  main .free-period .free-block::after {
    background: linear-gradient(to top, rgba(229, 0, 0, 0.5) 10%, rgb(30, 30, 30) 100%, rgb(5, 3, 3) 80%, transparent 100%);
  }
}
@media (max-width: 425px) {
  main .free-period .free-block .gallery-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
}
main .free-period .free-img {
  height: 90px;
  width: 195px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1440px) {
  main .free-period .free-img {
    width: 141px;
    height: 100px;
    align-items: center;
    overflow: hidden;
  }
}
@media (max-width: 425px) {
  main .free-period .free-img {
    height: 150px;
    width: 100px;
  }
}
main .free-period .text-wrap {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  color: white;
  text-align: left;
  width: 100%;
  max-width: 1220px;
  padding: 20px;
  gap: 40px;
}
@media (max-width: 425px) {
  main .free-period .text-wrap {
    display: flex;
    flex-direction: column;
  }
}
main .free-period .text-wrap h1 {
  font-size: 28px;
  margin: 0;
}
main .free-period .text-wrap .primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 200px;
  height: 54px;
  margin-top: 15px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background: #e50000;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.4s ease, box-shadow 0.4s ease;
}
main .free-period .text-wrap .primary-btn:active {
  transform: translateY(2px);
}
main .free-period .text-block {
  align-items: start;
}
@media (max-width: 425px) {
  main .free-period .text-block {
    width: 298px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
main .free-period .text-block p {
  color: #999999;
  font-size: 16px;
  margin: 0;
  align-items: flex-start;
}

footer {
  background-color: #0f0f0f;
}
footer .footer {
  padding: 10px;
  max-width: 100%;
}
footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  max-width: 1920px;
  width: 100%;
}
@media (max-width: 425px) {
  footer .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
footer .footer-column {
  background-color: #0f0f0f;
  border-radius: 12px;
  padding: 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  font-size: 13px;
}
@media (max-width: 425px) {
  footer .footer-column {
    font-size: 12px;
    gap: 5px;
  }
}
footer .footer-title {
  font-size: 20px;
  margin-bottom: 15px;
  padding: 10px 16px;
}
@media (max-width: 425px) {
  footer .footer-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
footer .footer-link {
  padding: 10px 16px;
  background-color: #0f0f0f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: left;
  font-size: 14px;
}
@media (max-width: 425px) {
  footer .footer-link {
    font-size: 13px;
    line-height: 1.4;
  }
}
footer .footer-link:hover {
  background-color: #555;
}
footer .footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  color: #999999;
  font-size: 14px;
}
@media (max-width: 425px) {
  footer .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid #262626;
  }
}
@media (max-width: 425px) {
  footer .footer-bottom .copyright {
    display: flex;
    padding-left: 6px;
  }
}
footer .social-links {
  display: flex;
  justify-content: center;
  gap: 12px;
}
footer .social-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
footer .social-btn img {
  width: 24px;
  height: 24px;
}
footer .legal-links {
  display: flex;
  gap: 15px;
}
footer .legal-links button {
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  font-size: 14px;
  width: 100px;
  height: 21px;
}
footer .legal-links button:hover {
  color: white;
}/*# sourceMappingURL=home-page.css.map */